a {
  color:darkgoldenrod;
  text-decoration: none;
  text-shadow: 2px 2px firebrick;
}

a:visited {
  color: whitesmoke;
}

body {
  background-color: gainsboro;
  background-image: url(backgrounds/bg1.jpg),
    url(backgrounds/bg2.jpg),
    url(backgrounds/bg3.jpg),
    url(backgrounds/bg4.jpg),
    url(backgrounds/bg5.jpg), ;
  color: brown;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
}

button {
  background-color: lightcoral;
  border: whitesmoke;
  border-bottom-style: 2px dotted;
  border-right-style: 2px dotted;
  cursor: pointer;
  display: inline-flex;
  text-shadow: 1px 1px darkred;
}

h1 {
  text-shadow: 2px 2px darkgoldenrod;
}

header {
  background-color: darkred;
  display: inline-flex;
  margin-bottom: 10px;
  padding: 25px;
  position: sticky;
  width: 100%;
}

header button {
  text-align: right;
}

iframe {
  border: hidden;
  border-radius: 25px;
  display: block;
  width: 100%;
  height: 100%;
}

p {
  border-radius: 5px;
  color: darkred;
  font-family: Verdana;
  font-size: medium;
  padding: 5px;
}

th {
  border-bottom-style: 10px dotted;
  border-color: whitesmoke;
  border-right-style: 10px dotted;
  color: whitesmoke;
  padding: 10px;
  text-align: left;
}

.content {display: block;}

.faq {display: block;}

.hidden {
  display: none;
  overflow: auto;
  position: absolute;
  z-index: 1;
}

.hidden a {
  display: block;
}

.show {
  display: block;
  text-align: center;
}

.subject {display: block;}
