body {
  background-color: DimGray;
  color: White;
  font-fanily: Arial;
  padding: 25px;
}

button {
  background-color: DarkRed;
  border: hidden;
  border-radius: 25px;
}

h1 {
  text-shadow: 2px 2px FireBrick;
}

header {
  border-bottom-style: dotted;
}

iframe {
  align: center;
  border: hidden;
  border-radius: 25px;
  width: 75%;
  height: 75%;
}

table {
  color: gray;
}

th {
  padding: 5px;
}
