a {
  text-decoration: none;
}

a:visited {
  color: whitesmoke;
}

body {
  background-color: DimGray;
  color: whitesmoke;
  font-family: Arial;
  margin: 25px;
}

button {
  background-color: lightcoral;
  border: none;
    border-bottom-style: 2px dotted;
      border-color: 1px whitesmoke;
  border-radius: 25px;
      border-right-style: 2px dotted;
  cursor: pointer;
  display: inline-block;
  text-shadow: 1px 1px gray;
}

h1 {
  text-shadow: 2px 2px FireBrick;
}

header {
  text-align: center;
  border-bottom-style: 1em dotted;
  border-color: 1px whitesmoke;
  padding: 25px;
}

iframe {
  align-content: center;
  border: hidden;
  border-radius: 25px;
  width: 75%;
  height: 75%;
}

table, th, tr {
  border-bottom-style: 2px dotted;
  border-color: 1px whitesmoke;
  border-right-style: 2px dotted;
  color: white;
  padding: 25px;
}

/*
align this shit to the right
*/

.drpdnCntnt {
  display: none;
  overflow: auto;
  position: absolute;
}

.drpdnCntnt a {
  display: block;
}

.show {
  display: block;
}
